/* styles.css */
body {
    background: lightblue;
    text-align: center; /*-kulang sir-*/
    font-family: Arial, sans-serif;/*error*/
}

h1 {
    font-size: 24px;/*error*/
    color: blue; /*error*/
}

.message {
    font-weight: bold;
    color: red;/*error*/
}
